{% extends "base.html" %}
{% load i18n static %}

{% block extrahead %}
    <link type="text/css" rel="stylesheet"
         href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet"
         href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
    <link type="text/css" rel="stylesheet" href="{% static 'census/census.css' %}">
    <title>Censo</title>
{% endblock %}

{% block content %}
    <h1>Censo</h1>
 <div class ="col-xs-9 col-sm-10 col-md-10">
   <div class="dropdown">
        <button class="dropbtn">Exportar Censo</button>
        <div class="dropdown-content">
        <a href="/census/census/exportar/csv">Exportar datos en csv</a>
        <a href="/census/census/exportar/json">Exportar datos en json</a>
        <a href="/census/census/exportar/yaml">Exportar datos en yaml</a>
        </div>
        </div>
 </div>
    <div class ="col-xs-9 col-sm-10 col-md-10">
    <div class="">
        &nbsp
    </div>
       <div class="">
        &nbsp
    </div>
    </div>
    <div class ="col-xs-9 col-sm-10 col-md-10">
    <div class="dropdown">
    <a href="{% url 'index' %}" class="dropbtn">Atrás </a>
    </div>

    </div>
{% endblock %}